.cell {
  border: 1px solid dimgray;
  display: table-cell;
  background-color: white;
  position: relative;
  box-sizing: border-box;
}

.cell_closed {
  background-color: black;
}

.cell_selected {
  background-color: #A7D8FF;
}

.cell_active {
  background-color: #FFDA00;
}

.cell_related {
  background-color: #FFECA0;
}

.cell_wrong::after {
  transform: rotate(-45deg);
  position: absolute;
  border-top: 2px solid #F23F00;
  content: '';
  height: 1px;
  left: -22.5%;
  top: 50%;
  width: 141.42136%;
}

.number {
  padding: 5% 7% 0;
  position: absolute;
  top: 0;
  line-height: 8px;
  box-sizing: border-box;
}

.guess {
  cursor: default;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.solved {
  color: #0858AA;
}

.cheat {
  border-color: transparent;
  border-style: solid none none solid;
  right: 0;
  border-top-color: black;
  border-width: .6vw;
  position: absolute;
}

.revealed {
  border-top-color: #F23F00;
}

.tatter {
  background-color: white;
  border: .1vw solid white;
  border-radius: 50%;
  position: absolute;
  right: 1px;
  top: -.5vw;
}
