.toolbarContainer {
  width: 100%;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-width: 1px 0;
  position: sticky;
  top: 0;
}

.toolbarMenu {
  display: flex;
}
