.container {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectContainer {
  margin-bottom: 20px;
  width: 100%;
}

.dateContainer {

}
