.modal {
  visibility: hidden;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_fixed {
  position: fixed;
}

.modal_absolute {
  position: absolute;
}

.modal_open {
  visibility: visible;
}

.overlay_absolute {
  background-color: #fafafa;
  opacity: .86;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
}

.body {
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 0 3px 12px -1px rgba(0,0,0,.3);
  box-sizing: border-box;
  max-height: 95%;
  max-width: 60%;
  min-width: 300px;
  outline: none;
  padding: 5%;
  pointer-events: visible;
  position: relative;
  z-index: 2;
  text-align: center;
}

.button {
  text-decoration: none;
  margin: 25px auto 0;
  max-width: 162px;
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 0;
  outline: none;
}

.buttonBody {
  box-shadow: 0 4px 0 0 #2860d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 16.9px;
  font-weight: 700;
  background-color: #4f85e5;
  border: none;
  border-radius: 37px;
  color: #fff;
  min-width: 120px;
  min-height: 34px;
  padding: 0 1.5em;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.buttonBody:active {
  margin-top: 4px;
  margin-bottom: 0;
  box-shadow: none;
}