.puzzleContainer {
  font-family: helvetica, arial, sans-serif;
}

.headerContainer {
  border-bottom: 1px solid lightslategray;
  border-top: 1px solid lightslategray;
}

.gameContainer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.currentClue {
  padding-bottom: 10px;

}

.gridContainer,
.cluesContainer {
  width: 49%;
  height: 100%;
}

.cluesContainer {
  display: flex;
  flex-wrap: wrap;
}
