.app {
  font-family: helvetica, arial, sans-serif;
}

.puzzleContainer {
  height: 100%;
  overflow: hidden;
}

.puzzleContainer_obscured {
  filter: blur(33px);
}

.gameContainer {
  position: relative;
}

.playArea {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.currentClue {
  padding-bottom: 10px;

}

.gridContainer,
.cluesContainer {
  width: 49%;
  height: 100%;
}

.cluesContainer {
  display: flex;
  flex-wrap: wrap;
}

.headerContainer {
  margin-bottom: 20px;
  margin-top: 20px;
}
