.clueListContainer {
  padding: 0 3px;
  box-sizing: border-box;
  overflow: hidden;
  flex: 1;
  min-width: 250px;
}

.directionName {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .875rem;
  line-height: 2;
}

.clueList {
  overflow-y: auto;
  list-style: none;
  height: 100%;
  border-top: 1px solid #e2e2e2;
  float: left;
  display: inline;
  width: 80%;
  padding: 0 0 25px 0;
  box-sizing: border-box;
  margin: 0;
}
