.clueListContainer {
  padding: 0 3px;
  box-sizing: border-box;
  overflow: hidden;
  width: 50%;
}

.directionName {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .875rem;
  line-height: 22px;
}

.clueList {
  overflow-y: auto;
  list-style: none;
  height: 100%;
  border-top: 1px solid #e2e2e2;
  float: left;
  display: inline;
  width: 100%;
  padding: 0 0 25px 0;
  box-sizing: border-box;
  margin: 0;
}

.clue {
  font-size: .9375rem;
  line-height: 1.3;
  font-weight: 400;
  cursor: pointer;
  padding: 5px 5px 5px 35px;
  position: relative;
  margin: 0;
  min-height: 28px;
  box-sizing: border-box;
}

.clue_selected {
  background-color: #A7D8FF;
}

.clue::before {
  content: attr(value) " ";
  border-left: 10px solid transparent;
  font-weight: 700;
  position: absolute;
  height: 80%;
  left: -5px;
  padding: 5px 0;
  text-align: right;
  top: 0;
  width: 25px;
}

.clue_active::before {
  border-left-color: #A7D8FF;
}
