.clueListContainer {
  padding: 0 3px;
  box-sizing: border-box;
  overflow: hidden;
  flex: 1;
  min-width: 250px;
}

.directionName {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .875rem;
  line-height: 2;
}

.clueList {
  overflow-y: auto;
  list-style: none;
  height: 100%;
  border-top: 1px solid #e2e2e2;
  float: left;
  display: inline;
  width: 100%;
  padding: 0 0 25px 0;
  box-sizing: border-box;
  margin: 0;
}

.clue {
  display: flex;
  padding: 5px 1px;
  cursor: pointer;
  border-left: 10px solid transparent;
}

.clue_active {
  background-color: #A7D8FF;
}

.clue_selected {
  border-left-color: #A7D8FF;
}

.clueNumber {
  line-height: 1.4;
  margin-right: 5px;
  font-weight: 700;
  text-align: right;
  min-width: 24px;
  width: 24px;
}

.clueValue {
  line-height: 1.4;
  margin-right: 5px;
  margin-left: 5px;
}
